<h1 class="text-center mt-3">New Words</h1>

<%= form_for :word, url: "" do |f| %>

    <div class="mt-5 col-md-6 offset-md-3 text-left"> 
        <div class="form-group">
            <%= f.label :word %>
            <%= f.text_field :word, class: 'form-control' %>
        </div>

        <div class="form-group">
            <%= f.label :choices%>
            <%= f.text_field :choices, class: 'form-control' %>
            <%= f.check_box :checkbox %>
            <span>This is the correct answer</span>
        </div>

        <div class="form-group">
            <%= f.text_field :choices, class: 'form-control' %>
            <%= f.check_box :checkbox %>
            <span>This is the correct answer</span>
        </div>

        <div class="form-group">
            <%= f.text_field :choices, class: 'form-control' %>
            <%= f.check_box :checkbox %>
            <span>This is the correct answer</span>
        </div>
        
        <div class="form-group">
            <%= f.submit "Create New Words", class: 'btn btn-info btn-block mt-5' %>
        </div>

    </div>
<% end %>