<div class="row">
    <div class="col-md-3 p-5 mx-auto text-center">	
        <% if @user.avatar? %>
            <%= image_tag @user.avatar.url, class: "profile-size-big" %>
        <% else %>
            <%= image_tag "kompas.png", class: "profile-size-big" %>
        <% end %>

        <div>
            <%= @user.name %>
        </div>

        <hr style="width: 200px;">

        <div class="d-inline-block pr-2 mt-2">
            <p>Following</p>
        </div>
        <div class="d-inline-block pl-2 mt-2">
            <p>Followers</p>
        </div>

        <div class="mt-2">
            <%= link_to "Edit Profile", edit_user_path(@user), class: "btn btn-info btn-settings" %>
            <div class="mt-2">
                <%= link_to "Administration", root_path, class: "btn btn-outline-info btn-settings" %>
            </div>
        </div>
    </div>

    <div class="col-md-9 p-5 text-center">
        <h1 class="title">Activities</h1>			
    </div>
</div>
